
body #bio {
    margin: 20px;
}

body header img {
    padding-top: 2%;
    width: 60%;
}

body #bio .bio-section h2 {
    font-family: 'Roboto Mono', monospace;
}

body #bio #bio-intro {
    border-bottom: 1px solid;
    border-color: #d4a405;
    text-align: center;
}

body #bio #bio-intro p {
    margin-left: 5%;
    margin-right: 5%;
}

.bio-section {
    display: flex;
}

.tile {
    width: 40%;
    object-fit: contain;
}

.bio-text {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: center;
}

#bio-scientist{
    display: flex;
    flex-direction: row-reverse;
}

#bio-scientist .bio-text {
    text-align: right;
    align-items: flex-end;
}

body #my-work {
    border-top: 1px solid;
    border-color: #d4a405;
    margin: 20px;
}


#my-work {
    text-align: center;
}

#portfolio {
    display: flex;
    align-items: center;
}

.portfolio-img {
    position: relative;
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-img .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: absolute;
    background: white;
    color: black;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}

.portfolio-img:hover {
    cursor: pointer;
}

.portfolio-img:hover .details {
    width: 90%;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
}

.portfolio-tile {
    width: 80%;
    object-fit: scale-down;
}

#project-2 { 
    border: 1px solid;
    border-color: #d4a405;
}


@media (max-width: 900px) {
    html {
        font-size: 15px;
    }

    h2 {
        font-size: 25px;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 12px;
    }

    h2 {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .bio-section {
        flex-direction: column;
        align-items: center;
    }
    #bio-scientist {
        flex-direction: column;
    }

    .bio-text {
        text-align: center;
        align-items: center;
    }

    #bio-scientist .bio-text {
        text-align: center;
        align-items: center;
    }
    #portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #linkedin {
        width: 10px;
    }
    #github {
        width: 15px;
    }
}